<div class="container-fluid">
    <div class="container col-md-8">
    <div class="row ">
    <div class="img container col-md-6 animated fadeIn">
                <img src="../../assets/images/2/w2p1.jpg" style="width:100%">
                <img src="../../assets/images/2/w2p2.jpg" style="width:100%">
                <img src="../../assets/images/2/w2p3.jpg" style="width:100%">
                <img src="../../assets/images/2/w2p4.jpg" style="width:100%">
    </div>
    <div class="para container col-md-6  animated fadeIn">
                <h1>Portfolio 2</h1>
                <p> this exhibition this hfa hfnjha ufs gs r shg jsir  od sgh sdgssg sg sj gjdsh ufysdy fy yfs y ay dfys vau sf dvbav duy aydv y</p>
    </div>
</div>
</div>
</div>