<div class="container-fluid">
    <div class="container col-md-8">
    <div class="row ">
    <div class="img container col-md-6 animated fadeIn">
                <img src="../../assets/images/6/w6p1.jpg" style="width:100%">
                <img src="../../assets/images/6/w6p2.png" style="width:100%">
                <img src="../../assets/images/6/w6p3.png" style="width:100%">
                <img src="../../assets/images/6/w6p4.png" style="width:100%">
    </div>
    <div class="para container col-md-6 animated fadeIn">
                <h1>Portfolio 1</h1>
                <p> this exhibition this hfa hfnjha ufs gs r shg jsir  od sgh sdgssg sg sj gjdsh ufysdy fy yfs y ay dfys vau sf dvbav duy aydv y</p>
    </div>
</div>
</div>
</div>