<div class="container-fluid">
    <div class="container col-md-8">
    <div class="row ">
    <div class="img container col-md-6 animated fadeIn">
                <img src="../../assets/images/8/w8p1.jpg" style="width:100%">
                <img src="../../assets/images/8/w8p2.jpg" style="width:100%">
                <img src="../../assets/images/8/w8p3.JPG" style="width:100%">
                <img src="../../assets/images/8/w8p4.JPG" style="width:100%">
                <img src="../../assets/images/8/w8p5.JPG" style="width:100%">
    </div>
    <div class="para container col-md-6 animated fadeIn">
                <h1>Portfolio 1</h1>
                <p> this exhibition this hfa hfnjha ufs gs r shg jsir  od sgh sdgssg sg sj gjdsh ufysdy fy yfs y ay dfys vau sf dvbav duy aydv y</p>
    </div>
</div>
</div>
</div>