<div class="container-fluid">
    <div class="container col-md-8">
    <div class="row ">
    <div class ="container col-md-6 animated fadeIn">
        <h1>About me</h1>
        <p>
            I am a second year student in Dublin Institute of Technology studying Visual Merchandsing and Design. IGkjhgHAJ hjjg jsh sdjigs akl gsi aj gds lajs giua ngsia  l h jh jh ljh j hlh l h.
        </p>
        <h5>Work Experience</h5>
        <p>
            Ive had the privelege to do work experiece in Arnotts store in September 2017.
        </p>
    </div>
    <div class="container col-md-6 animated fadeIn">
                <h1>How to contact me</h1>
                <p> Email: eleonard@cloistechiaran.com</p>
    </div>
</div>
</div>
</div>