<div class="container-fluid">
    <div class="container col-md-8">
        <div class="row animated fadeIn"> 
                <div class="column">
                  <a routerLink="p1"><img src="../../assets/images/1/w1p1.JPG" style="width:100%"></a>
                  <a routerLink="p2"><img src="../../assets/images/2/w2p2.jpg" style="width:100%"></a>
                  <a routerLink="p6"><img src="../../assets/images/6/w6p3.png" style="width:100%"></a>
                </div>
                <div class="column">
                  <a routerLink="p3"><img src="../../assets/images/3/w3p2.JPG" style="width:100%"></a>
                  <a routerLink="p7"><img class="p7"src="../../assets/images/7/w7p3.JPG" style="width:100%"></a>
                </div>  
                <div class="column">
                  <a routerLink="p5"><img src="../../assets/images/5/w5p5.jpg" style="width:100%"></a>
                  <a routerLink="p8"><img class="p8" src="../../assets/images/8/w8p5.JPG" style="width:100%"></a>
                </div>
                <div class="column">
                  <a routerLink="p9"><img src="../../assets/images/9/w9p6.JPG" style="width:100%"></a>
                  <a routerLink="p4"><img src="../../assets/images/4/w4p2.JPG" style="width:100%"></a>
                </div>
              </div>
</div>
</div>